.form{
    width: 100%;
    height: 100vh;
    padding: .1em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form-title{
    
    background-color: #fff;
    border-radius: 5px;
    padding: 3.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 15px;
    box-shadow: 6px 6px 5px 0px rgba(179,179,179,0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(179,179,179,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(179,179,179,0.75);
}

.form-container{ 
    width: 17.5em;
    border-radius: 5px;
    background-color: #fff;
    padding: 4.5em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    box-shadow: 6px 6px 5px 0px rgba(179,179,179,0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(179,179,179,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(179,179,179,0.75);

    
}

.form-inputs-container{
    display: grid;
    gap: 2.5em;

}

.form-group{
    position: relative;
    --color: #5757577e;
}

.form-input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif; 
}

/* .form-input:focus + .form-label{
    transform: translateY(-12px) scale(.7);
} */

.form-label{
   color: var(--color);
   position: absolute;
   top: -30px;
   left: .5px;
   transform: translateY(10px);
   transition: transform .5s, color .3s;
}


.date-select-color{
    color: #5757577e;
}

.terms-conditions{
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox{
    margin-left: 4px;
}

.tomasbartoldi{
    color: #5757577e;
}

.form-submit{
    background: #3866f2;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .3em;
}